.tartalom {
    background-color: lightblue;
    border: 2px, gray;
    padding: 10px;
    text-align: justify;
}

ul {
    list-style-type: none;
    text-align: left;
    padding: 10px;
    float: left;
    width: 100%;
    background-color: blue;
    color: yellow;
}

li {
    display: inline;
    padding-left: 40px;
}

#auto {
    float: right;
    width: 250px;
}

.kiemelt {
    color: red;
    font-weight: bold;
}

body {
    background-color: blue;
}

a {
    color: yellow;
    text-decoration: none;
}

h1 {
    text-align: center;
    text-decoration-line: underline;
    font-size: 30px;
    margin-bottom: 20px;

}

.forras {
    text-align: right;
}

table {
    margin-left: 200px;
}